<div class="black-background">
  <div class="container">
    <div class="jumbotron">
      <h1>Places - Menu - Dishes</h1>      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </p>
    </div>
  </div>
</div>


<div class="container">
  <div class="page-header">
    <%= link_to new_place_path, class: 'btn btn-primary float-md-right' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Place
    <% end %>

    <h1 class="center-text">Listing places</h1>
  </div>

  <div class="search-places">
    <%= form_tag(places_path, method: :get, class: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "form-control"%>
      <%= submit_tag 'Search', name: nil, class: "btn btn-warning" %>
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
              <th>Name </th>
              <th>Delivery time<br>Order time</th>
              <th>Menu</th>
        </tr>
      </thead>

      <tbody>
        <% @places.each do |place| %>
          <%= content_tag :tr, id: dom_id(place), class: dom_class(place) do %>
                        <td><%= place.name %></td>
                        <td>Dostawa:<%= place.delivery_time %> <br> Zamówienie można składać do:<%= place.order_time %> <br> 
                          <%= link_to 'Show', place %> 
                          <%= link_to 'Edit', edit_place_path(place) %>
                          <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <td><% place.menus.each do |menu| %>
                          <div class="toggle"> <%=  menu.menu_date %> <br> </div>

                            <div class="dish_index" style="display:none">
                              <% menu.dishes.each do |dish| %>
                              <%= dish.name %>
                              <%= dish.price %> <br>
                              <% end %>
                            </div>

                        <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  